<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <title>Login</title>

    <style> body {
        background: url('/images/dog4.jpg') no-repeat center;
        background-size: cover;
        height: 100vh;
    }
    </style>

    <!-- Design by foolishdeveloper.com -->
    <link href="../../css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
    <!--                                -->
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${param.error}" class="alert">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" id="password">

        <button type="submit" value="Sign in">Sign in</button>
    </form>
</div>
</body>
</html>