<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <style> body {
        background: url('/images/dog2.jpg') no-repeat center;
        background-size: cover;
        height: 100vh;
    }
    </style>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <h1>User Registration</h1>
    <form id="registerForm" th:action="@{/saveUser}" method="post" th:object="${user}">
        <div th:if="${!foundAdmin}">
            <div th:fragment="registerForm">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" th:field="*{username}" id="username"/>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" th:field="*{password}" id="password"/>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" th:field="*{email}" id="email"/>
                </div>

                <div class="form-group">
                    <label for="phone">Phone (30+)</label>
                    <input type="text" class="form-control" th:field="*{phone}" id="phone"/>
                </div>
            </div>
        </div>
            <input th:if="${!foundAdmin}" type="submit" class="btn btn-primary" value="Sign Up"/>
        <div style="display: flex; gap: 10px; margin-top: 10px">
            <span>
                <a class="btn btn-primary" th:href="@{/citizen/new}">Register as Citizen</a>
            </span>
            <span>
                <a class="btn btn-primary" th:href="@{/shelter/new}">Register as Shelter</a>
            </span>
            <span>
                <a class="btn btn-primary" th:href="@{/veterinarian/new}">Register as Veterinarian</a>
            </span>
        </div>
    </form>
</div>
</body>
</html>