<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="masthead mb-auto" th:fragment="header">
    <nav class="navbar navbar-expand fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" style="font-weight: bold" href="#">NavBar:</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"
                aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/users" data-path="/users">Users</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/pet" data-path="/pet">Pets</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/shelter" data-path="/shelter">Shelters</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CITIZEN', 'ROLE_SHELTER')">
                    <a class="nav-link" href="/adoption" data-path="/adoption">Adoptions</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_VETERINARIAN')">
                    <a class="nav-link" href="/healthCheck" data-path="/healthCheck">Health Checks</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_CITIZEN')">
                    <a class="nav-link" href="/contact" data-path="/contact">Contact</a>
                </li>
                <li th:class="nav-item" sec:authorize="hasRole('ROLE_CITIZEN')">
                    <a class="nav-link" href="/citizen/adoptedPets" data-path="/citizen/adoptedPets">My pets</a>
                </li>
                <li th:class="nav-item" sec:authorize="hasRole('ROLE_CITIZEN')">
                    <a class="nav-link" href="/citizen/visits" data-path="/citizen/visits">Visits</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_SHELTER')">
                    <a class="nav-link" href="/contact/inbox" data-path="/contact/inbox">Inbox</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
            <a sec:authorize="isAuthenticated()" class="nav-link">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-primary" value="Sign Out"/>
                </form>
            </a>
        </div>
    </nav>
</header>
</body>
</html>
