<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Pets</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${ not#lists.isEmpty(pets)}">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Species</th>
                <th>Sex</th>
                <th>Shelter</th>
                <th>Interest</th>
                <th>Approval</th>
                <th sec:authorize="hasRole('ROLE_VETERINARIAN')">Health Checks</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pet : ${pets}">
                <td th:text="${pet.getName}"></td>
                <td th:text="${pet.getAge()}"></td>
                <td th:text="${pet.getSpecies()}"></td>
                <td th:text="${pet.getSex()}"></td>
                <td><a th:if="${pet.getOnShelter()!=null}" th:href="@{'/shelter/' + ${pet.getOnShelter().getId()}}"
                       th:text="${pet.getOnShelter().getName()}"></a>
                </td>
                <td><a th:if="${ not#lists.isEmpty(pet.getInterest())}" th:href="@{'/adoption/' + ${interest.getId()}}"
                       th:each="interest : ${pet.getInterest()}" th:text="${interest.toString()}"
                       style="display: inline-block"></a></td>
                <td th:text="${pet.getApprovalStatus()}"></td>
                <td sec:authorize="hasRole('ROLE_VETERINARIAN')"><a th:if="${not#lists.isEmpty(pet.getHealth())}"
                                                                    th:href="@{'/healthCheck/' + ${health.getId()}}"
                                                                    th:each="health : ${pet.getHealth()}"
                                                                    th:text="${health.toString()}"
                                                                    style="display: inline-block"></a></td>
                <td>
                    <span>
                        <a class="btn btn-info" th:href="@{'/pet/' + ${pet.id}}">Details</a>
                    </span>
                    <span sec:authorize="hasRole('ROLE_CITIZEN')">
                        <a class="btn btn-outline-warning" th:href="@{'/citizen/adoptionRequest/' + ${pet.id}}">Adopt</a>
                    </span>
                    <span sec:authorize="hasRole('ROLE_ADMIN')"
                          th:if="${pet.getApprovalStatus() == T(gr.hua.dit.ds.ds_project_2024.entities.Status).PENDING}">
                        <a class="btn btn-success" th:href="@{'/pet/approve/' + ${pet.id}}">Approve</a>
                    </span>
                    <span sec:authorize="hasRole('ROLE_ADMIN')"
                          th:if="${pet.getApprovalStatus() == T(gr.hua.dit.ds.ds_project_2024.entities.Status).PENDING}">
                        <a class="btn btn-danger" th:href="@{'/pet/reject/' + ${pet.id}}">Reject</a>
                    </span>
                    <span sec:authorize="hasRole('ROLE_VETERINARIAN')"
                          th:if="${ #lists.isEmpty(pet.getHealth())} or ${canExamine}">
                        <a class="btn btn-light" th:href="@{'/veterinarian/examine/' + ${pet.id}}">Examine</a>
                    </span>
                    <span sec:authorize="hasRole('ROLE_VETERINARIAN')"
                          th:if="${pet.getApprovalStatus() == T(gr.hua.dit.ds.ds_project_2024.entities.Status).PENDING} and ${ not#lists.isEmpty(pet.getHealth())}">
                        <a class="btn btn-dark" th:href="@{'/veterinarian/examine/' + ${pet.id}}">Edit</a>
                    </span>
                    <span sec:authorize="hasRole('ROLE_ADMIN')"
                          th:if="${pet.getApprovalStatus() == T(gr.hua.dit.ds.ds_project_2024.entities.Status).REJECTED}">
                        <a class="btn btn-danger" th:href="@{'/pet/delete/' + ${pet.id}}">Delete</a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(pets)}">
        No Pets found!
    </div>
    <a sec:authorize="hasRole('ROLE_SHELTER')" href="/pet/new" class="btn btn-primary" role="button">Create new Pet</a>
</div>
</body>
</html>