<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Adoptions</title>
</head>
<body>
<div layout:fragment="main-content">
  <div th:if="${ not#lists.isEmpty(adoptions)}">
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Pet adopted</th>
        <th>Applicant</th>
        <th>From Shelter</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="adoption : ${adoptions}">
        <td th:text="${adoption.toString()}"></td>
        <td>
          <!--authorize only admin-->
          <a  class="btn btn-outline-light btn-sm" th:href="@{'/adoption/delete/{id}' + ${adoption.id}}">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${ #lists.isEmpty(adoptions)}">
    No Adoption requests found!
  </div>
  <a href="/adoption/new" class="btn btn-primary" role="button">Create new Adoption request</a>
</div>
</body>
</html>