<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Adoption</title>
</head>
<body>
<div layout:fragment="main-content">
  <form action="#" th:action="@{/adoption/new}" th:object="${adoption}"
        method="post">

    <div class="form-group">
      <label for="petSelect">Choose a Pet</label>
      <select id = "petSelect" name="petId" required>
        <option value="" disabled selected>-- Select a Pet --</option>
        <option> th:each="pet : ${pets}"
                 th:text="|${pet.name} - ${pet.age} - ${pet.species} - ${pet.sex}|">
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="citizen">Citizen</label>
      <input type="text" id="citizen" class="form-control" th:field="*{applicant}">
    </div>

    <button type="submit" class="btn btn-primary">Submit request</button>
  </form>
</div>
</body>
</html>