<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Permission denied🛑</title>
  <style> body {
    background: url('/images/dog1.jpg') no-repeat;
    background-position-y: 200px;
    background-position-x: 800px;
  }
  </style>
</head>
<body>
<div layout:fragment="main-content">
  <h1>Sorry, no permission!</h1>
  <a type="button" class="btn btn-primary" th:href="@{/}">Home🏠</a>
</div>
</body>
</html>