<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Students</title>
</head>
<body>
<div layout:fragment="main-content">
  <div th:if="${ not#lists.isEmpty(healthChecks)}">
    <table class="table">
      <thead>
      <tr>
        <th>Pet</th>
        <th>Vet</th>
        <th>Status</th>
        <th>Details</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="healthCheck : ${healthChecks}">
        <td><a th:if="${healthCheck.getPetExamined() != null}"
               th:href="@{'/pet/' + ${healthCheck.getPetExamined().getId()}}"
               th:text="${healthCheck.getPetExamined().getName()}"></a>
        </td>
        <td><a th:if="${healthCheck.getByVeterinarian() != null}"
               th:href="@{'/veterinarian/' + ${healthCheck.getByVeterinarian().getId()}}"
               th:text="${healthCheck.getByVeterinarian().firstName + ' ' + healthCheck.getByVeterinarian().lastName}"></a></td>
        <td th:text="${healthCheck.status}"></td>
        <td th:text="${healthCheck.details}"></td>
        <td>
          <span>
            <a class="btn btn-info" th:href="@{'/healthCheck/' + ${healthCheck.getId()}}">Details</a>
          </span>
          <span sec:authorize="hasRole('ROLE_VETERINARIAN')">
            <a class="btn btn-light" th:href="@{'/healthCheck/edit/' + ${healthCheck.getId()}}">Edit</a>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${ #lists.isEmpty(healthChecks)}">
    No Health Checks found!
  </div>
  <a sec:authorize="hasRole('ROLE_VETERINARIAN')" href="/healthCheck/new" class="btn btn-primary" role="button">Examine a new Pet</a>
</div>
</body>
</html>