<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Health Checks</title>
</head>
<body>
<div layout:fragment="main-content">
    <form action="#" th:action="@{/healthCheck/new}" th:object="${healthCheck}"
          method="post">

        <div class="form-group">
            <label for="petSelect">Choose a Pet</label>
            <select id="petSelect" name="petSelect" th:field="*{petExamined}" required>
                <option value="" disabled selected>Select a Pet</option>
                <option th:each="pet : ${pets}"
                        th:value="${pet.getId()}"
                        th:text="${pet.getName() + ' - ' + pet.getSpecies()}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="veterinarianSelect">Choose a Vet</label>
            <select id="veterinarianSelect" name="veterinarianSelect" th:field="*{byVeterinarian}" required>
                <option value="" disabled selected>Select a Vet</option>
                <option th:each="veterinarian : ${veterinarians}"
                        th:value="${veterinarian.getId()}"
                        th:text="${veterinarian.getFirstName() + '  ' + veterinarian.getLastName()}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="status">Status</label>
            <select name="status" id="status" th:field="*{status}">
                <option th:value="${T(gr.hua.dit.ds.ds_project_2024.entities.Status).APPROVED}"
                        th:text="${T(gr.hua.dit.ds.ds_project_2024.entities.Status).APPROVED}">
                </option>
                <option th:value="${T(gr.hua.dit.ds.ds_project_2024.entities.Status).REJECTED}"
                        th:text="${T(gr.hua.dit.ds.ds_project_2024.entities.Status).REJECTED}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="details">Details</label>
            <input type="text" id="details" class="form-control" th:field="*{details}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>