<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Students</title>
</head>
<body>
<div layout:fragment="main-content">
  <div th:if="${ not#lists.isEmpty(healthChecks)}">
    <table class="table">
      <thead>
      <tr>
        <th>Pet</th>
        <th>Vet</th>
        <th>Status</th>
        <th>Details</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="healthCheck : ${healthChecks}">
        <td th:text="${healthCheck.getPetExamined().name}"></td>
        <td th:text="${healthCheck.getByVeterinarian().firstName + ' ' + healthCheck.getByVeterinarian().lastName}"></td>
        <td th:text="${healthCheck.status}"></td>
        <td th:text="${healthCheck.details}"></td>
        <td>
          <a class="btn btn-outline-light btn-sm" th:href="@{'/healthCheck/' + ${healthCheck.id}}">Details</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${ #lists.isEmpty(healthChecks)}">
    No Health Checks found!
  </div>
  <a href="/healthCheck/new" class="btn btn-primary" role="button">Examine a new Pet</a>
</div>
</body>
</html>