<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Veterinarian</title>
</head>
<body>
<div layout:fragment="main-content">
    <form action="#" th:action="@{/veterinarian/new}" th:object="${veterinarian}"
          method="post">

        <div th:replace="~{auth/register :: registerForm}"></div>

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" class="form-control" th:field="*{firstName}">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="form-control" th:field="*{lastName}">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>